.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  background: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

.App-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  font-size: 16px;
}

.Div-body {
  display: flex;
  flex-direction: column;
}

.Div-insert {
  width: 100%;
  max-width: 363px;
}

.Div-TotalValue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 363px;
  height: 96px;
  background: #ffffff;
  border: 1px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 4px;
}

.Div-TotalValue span {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #fd377e;
}

.Div-title {
  display: flex;
  flex-direction: column;
}

.Div-title h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #212529;
}

.Div-title p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #868e96;
}

.Div-headerCard {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.Div-headerTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}

.Div-headerTitle h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #212529;
}

.Div-headerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
  align-items: center;
  margin: 10px;
}

.Button-Todos {
  background: #fd377e;
  border: 1.4px solid #fd377e;
  box-sizing: border-box;
  border-radius: 8px;
  width: 69px;
  height: 40px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.Button-Entradas {
  width: 69px;
  height: 40px;
  background: #e9ecef;
  border: 1.4px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #868e96;
}

.Button-Saidas {
  width: 69px;
  height: 40px;
  background: #e9ecef;
  border: 1.4px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #868e96;
}

.Div-Cards {
  margin: 0 auto;
  margin-top: 29px;
  width: 100%;
  max-width: 560px;
}

.Card-Entrada {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 560px;
  padding: 0.5rem 1rem;
  align-items: center;
  border-left: 4px solid #03b898;
  border-radius: 4px 0px 0px 4px;
}

.Card-Saida {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 560px;
  padding: 0.5rem 1rem;
  align-items: center;
  border-left: 4px solid #e9ecef;
  border-radius: 4px 0px 0px 4px;
}

.Card-Entrada span {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #212529;
}

.Card-Saida span {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #212529;
}

.Div-Name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Div-Name h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #212529;
}

.Div-Name p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #868e96;
}
